{{#each this}}
<div class = "country-card">
    <img class="flag-img" src="{{flags.svg}}" alt="country flag"/>
    <h1>{{name.official}}</h1>
</div>
<ul class = "country-descr">
<li class="country-descr-item">
    <h2>Capital:</h2>
    <p class ="country-value">{{capital}}</p>
</li>
<li class="country-descr-item">
    <h2>Population:</h2>
    <p class="country-value">{{population}}</p>
</li>
<li class="country-descr-item">
    <h2>Languages:</h2>
    <p class="country-value">{{#each languages}}
        {{#if @last}}
        <p>{{this}}</p>
        {{else}}
        <p>{{this}},</p>
        {{/if}}
        {{/each}}
    </p>
</li>
</ul>
{{/each}}